<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Blog Post</h1>
  
   <% blogItems.forEach( blog => { %>
        
         <div>
            <span> <%= blogItems%></span>
            <h2><%= blog.title %></h2>
            <p><%= blog.content %></p>
            <p><%= blog.author %></p>
         </div>
    <% }) %> 


    

    // add public folder for the div then add if there is no blogsitems also add a linke to add post,
    // once these are done we can start looking into comments
</body>
</html>