div {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
}

h2, .author {
    display: flex;
    justify-content: center;
}

#likes {
    border: 2px solid black;
    cursor: pointer;
}

#likes:hover {
    background-color: grey;
}

